.photo-list__item {
  margin: 24px;
  padding: 15px;
  max-width: fit-content;
  overflow: hidden; /* Ensures the image is clipped to the border radius */
  // display: flex;
  // align-items: center;
  border: solid lightgray 1px;
  padding: 5px;
  border-radius: 10px;
}

// .photo-list__image {
//   // margin: 24px;
//   padding: 10px;
//   border-width: 0.5px;
//   border: solid lightgray 5px;
//   border-radius: 5px;
//   max-width: fit-content;
// }



.photo-list__image img {
  border-radius: 10px; /* Rounds the corners of the main photo */
  display: block;/* Ensures no extra space below the image */
}


.photo-list__image {
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  
  border-radius: 8px 8px 8px 8px;
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.photo-list__user-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.photo-list__user-details {
  display: flex;
}

.photo-list__user-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
}

.photo-list__user-location {
  color: #838383;
}