.photo-list__item {
  margin: 24px;
  padding: 15px;
  max-width: fit-content;
  overflow: hidden; /* Ensures the image is clipped to the border radius */
  // display: flex;
  // align-items: center;
  border: solid lightgray 1px;
  padding: 5px;
  border-radius: 10px;
}

.photo-list__image img {
  border-radius: 10px; /* Rounds the corners of the main photo */
  display: block;/* Ensures no extra space below the image */
}


.photo-list__image {
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  
  border-radius: 8px 8px 8px 8px;
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.photo-list__user-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
  display: flex;
}

.photo-list__user-details {
  display: flex;
  align-items: center;
}

.photo-list__user-info {
  font-weight: 700;
  font-size: 12px;
  flex-direction: column;
  justify-content: center;
}

.photo-list__username {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.photo-list__user-location {
  color: #838383;
  font-size: 0.9rem;
  margin: 0;
  margin-left: 5px;
}